.card-container{
    width: 70rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "one one"
        "two three";
}
.section-one{
    padding: 3rem;
}
.section-two{
    padding: 3rem;
    border-radius: 0 0 0 1rem;
}
.section-three{
    padding: 3rem;
    border-radius: 0 0 1rem 0;
}